In [ ]:
import pandas as pd

df = pd.DataFrame([[1,2,3], [4,5,6], [7,8,9]], columns=['A', 'B', 'C'], index=['x', 'y', 'z'])

df # Display the first few rows of the DataFrame

   A  B  C
x  1  2  3
y  4  5  6
z  7  8  9

In [10]:
df.index  # Display the index of the DataFrame

RangeIndex(start=0, stop=3, step=1)

In [9]:
df.columns  # Display the columns of the DataFrame

Index(['A', 'B', 'C'], dtype='object')

In [11]:
df.index.to_list()  # Convert the index to a list

[0, 1, 2]

In [14]:
df.info()  # Display information about the DataFrame

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, x to z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes

In [15]:
df. describe()  # Get a statistical summary of the DataFrame

         A    B    C
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [16]:
df.nunique()  # Get the number of unique values in each column

A    3
B    3
C    3
dtype: int64

## Loading in Dataframes from Files

In [ ]:
coffee = pd.read_csv('./warmup-data/coffee.csv')  # Load a CSV file into a DataFrame
results = pd.read_parquet('./data/results.parquet')  # Load a Parquet file into a DataFrame
bios = pd.read_csv('./data/bios.csv') 
olympics_data = pd.read_excel('./data/olympics-data.xlsx', sheet_name="results")  # Load an Excel file into a DataFrame
olympics_data.to_parquet('./data/olympics-data.parquet')  # Save the DataFrame to a Parquet file